<!-- <like-button [clickCounter] = 99 [clicked] = "false"></like-button>-->
<!-- <if-else></if-else> -->
<!-- <switch-case></switch-case> -->
<!-- <for-loops></for-loops> -->
<!-- <change-detection></change-detection> -->
<!-- <track-by></track-by> -->
<!-- <traversal-operator></traversal-operator> -->
<!-- <custom-directives></custom-directives> -->
<zippy-excercise [title] = "'Shipping Details'">Shipping Details Content</zippy-excercise>
<zippy-excercise [title] = "'Billing Details'">Billing Details Content</zippy-excercise>
