<h1 class = "title"> Shopping Cart</h1>
<ng-container *ngIf = "displayCart">
    <p>
        You have {{ totalItemsCount }} items in your shopping cart.
        <button 
    *ngIf="displayCart.length"
    (click) = "clearCart()"  
    class="button is-light is-small">Clear Shopping Cart</button>
    </p>
    <div class="columns">
        <div class="column is-10">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th class = "has-text-centered" style ="width : 230px">Quantity</th>
                        <th style="width : 200px">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of displayCart">
                        <td>
                            <div [style.backgroundImage]="'url('+item.imageUrl+')'" class = "thumbnail"></div>
                        </td>
                        <td>{{item.title}}</td>
                        <td class="pq">
                            <product-quantity [product] = "item" [shopping-cart] = "cart"></product-quantity>
                            <!-- <p>100</p> -->
                        </td>
                        <td>{{ item.totalPrice   | currency:"KSH: " :'symbol':'1.1' }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class = "has-text-right">{{ displayCart.totalPrice | currency:"KSH: " :'symbol':'1.1'}}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    
    <!-- <p>{{ displayCart.length | json }}</p> -->

    <a
    *ngIf="displayCart.length"
    class = "button is-link" 
    routerLink="/check-out"
    (click)="create_order()">Create Order</a>
</ng-container>

<!-- {{  }} -->