<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <h2>Hello</h2>
        </a>
        
    
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">  
        <a class="navbar-item" routerLink="/shopping-cart">
          Shopping Cart
          <span *ngIf = "cart" class="tag is-warning is-rounded" >{{ totalItemsCount }}</span>
        </a>
        <ng-template #anonymousUser >
          <a class="navbar-item" routerLink="/login">
            Login
          </a>
        </ng-template>

        <div *ngIf = "appUser; else anonymousUser"class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{ appUser.name }}
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item"routerLink="/my/orders" >
              My Orders
            </a>
            <ng-container *ngIf="appUser.isAdmin" >
              <a class="navbar-item"routerLink="/admin/orders">
                Manage Orders
              </a>
              <a class="navbar-item"routerLink="/admin/products">
                Manage Products
              </a>
            </ng-container>
            
            <a class="navbar-item" (click)="logout()">
                Log Out
              </a>
          </div>
        </div>
      </div>
    </div>
</nav>


