<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <h2>Hello</h2>
        </a>
        
    
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">  
        <a class="navbar-item" routerLink="/shopping-cart">
          Shopping Cart
        </a>
        <ng-template #anonymousUser >
          <a class="navbar-item" routerLink="/login">
            Login
          </a>
      </ng-template>

        <div *ngIf = "auth.user$ | async as user; else anonymousUser"class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{ user.displayName }}
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item"routerLink="/my/orders" >
              My Orders
            </a>
            <a class="navbar-item"routerLink="/admin/orders">
              Manage Orders
            </a>
            <a class="navbar-item"routerLink="/admin/products">
              Manage Products
            </a>
            <a class="navbar-item" (click)="logout()">
                Log Out
              </a>
          </div>
        </div>
      </div>
    </div>
</nav>


