<div *ngIf = "product.title" class="card-image">
    <figure class="image is-4by3">
        <img *ngIf = "product.imageUrl" [src]="product.imageUrl" alt="{{ product.title }}">
    </figure>
</div>     
<div class="card-content">
    <div class="media">
        <div class="media-left"></div>
        <div class="media-content">
        <p class="title is-4">{{ product.title }}</p>
        <p class="subtitle is-6">{{ product.category }}</p>
        </div>
    </div>
    <div class="content">
        {{ product.price | currency:"USD" :'symbol':'1.1' }}
        <br>
    </div>
</div>
<footer class="card-footer">
    <a *ngIf = "showActions"  href="" class="card-footer-item">Add to cart</a>
</footer>